<!DOCTYPE html>
<html>
<head>
    <title>Werluegthier: Username Input</title>
</head>
<body>
    <h1>Enter Your Username</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button type="submit">Submit</button>
    </form>
    <form method="POST">
        <!-- <label for="username">Login as Admin:</label> -->
        <!-- <input type="button" id="username" name="username"> -->
        <input type="hidden" name="username" value="admin">
        <button type="submit">Login as Sessionmaster</button>
    </form>
</body>
</html>